.card {
  width: 300px;
  height: 400px;
  padding: 20px;
  margin: auto;
  border: 2px solid rgb(38, 135, 20);
  border-radius: 15px;
  box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
  text-align: center;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 15px;
}

h2 {
  margin: 10px 0;
}

p {
  margin: 0;
}
