body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.product-box {
  width: 500px;
  height: 600px;
  padding: 30px;
  margin: 10px;
  border: 3px solid grey;
  border-radius: 15px;
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  text-align: center;
}

.product-img {
  width: 80%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.logo-img {
  width: 70px;
  margin-bottom: 0px;
}

h3 {
  font-weight: bold;
  margin: 10px 0;
}

p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
